.header{
    height: 140px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: white;
    margin-bottom: 150px;
}

.info{
    height: 230px;
    background: #000;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttonY{
    width: 274px;
    height: 84px;
    border-radius: 40px;
    background: #5CFF9D;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px 0 40px 600px
}

.buttonN{
    width: 274px;
    height: 84px;
    border-radius: 40px;
    background: #ff7070;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px 0 40px 600px
}