.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto centra verticalmente en la pantalla */
  flex-direction: column;
}

.mainTitle {
  height: 71px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box {
  width: 598px;
  height: 579px;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: #363059;
  box-shadow: 20px 15px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 3.3rem;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto centra verticalmente en la pantalla */
  flex-direction: row;
}

.text {
  width: 172px;
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#button_field {
  gap: 2rem;
}

.input {
  width: 373px;
  font-size: 15px;
  height: 62px;
  border-radius: 10px 30px 30px 30px;
  background: #d9d9d9;
}

.buttons {
  width: 201px;
  height: 64px;
  background-color: #8000ff;
  fill: #8000ff;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
}

.enlace {
  color: #d9d9d9;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
