.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto centra verticalmente en la pantalla */
  flex-direction: column;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto centra verticalmente en la pantalla */
  flex-direction: row;
}

.box {
  width: 598px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  background: #363059;
  box-shadow: 20px 15px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 1rem;
}

.mainTitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 209px;
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  width: 172px;
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 390px) {
  .input {
    width: auto;
  }
  .text {
    width: auto;
  }
  .box {
    width: 380px;
  }
  .buttons {
    width: 160px;
  }
}

#button_field {
  gap: 2rem;
}

.input {
  width: 373px;
  height: 62px;
  font-size: 15px;
  border-radius: 10px 30px 30px 30px;
  background: #d9d9d9;
}

.buttons {
  width: 201px;
  height: 64px;
  background-color: #8000ff;
  fill: #8000ff;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
}

.enlace {
  width: 370px;
  height: 40px;

  color: #d9d9d9;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
