.barra {
  width: 1245px;
  height: 150px;
  margin-top: 8rem;
  border-radius: 50px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 1085px;
  height: 96px;

  border-radius: 50px 0px 0px 50px;
  background: #fff;
  margin-top: 25px;
  margin-left: 15px;

  font-size: 20px;
  text-align: center;
}

.results {
  margin: 20px 0 0 500px;
}

button {
  width: 42.75px;
  height: 42.75px;
  flex-shrink: 0;
}

.screen {
  width: 1393px;
  height: 100px;
  flex-shrink: 0;

  border-radius: 1393px;
  background: #fff;

  filter: blur(208.4375px);
}

.hButton{
    width: 180px;
    height: 80px;
    border-radius: 40px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
    align-items: center;
}